/* body {
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;

} */
/* normalizar */
/* .informacion_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;

}

.who {
    text-align: center;
}

.caninos-montana {
    width: 230px;
}

.informacion_2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;

}

.trascendencia {
    text-align: center;
}

.cocker_talado {
    width: 261px;
    height: 198px;
    object-fit: contain;

}

.title {
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: unset;
    text-align: center;

}

.paragraph {
    font-size: 15px;
    font-family: "Amatic SC", sans-serif;
    text-align: left;

    text-align: justify;
    
}


 
@media  (min-width: 567px){
    .container{
        /* width: calc(567px - 30px); */
        /* margin:  auto 20px;
    }

    .informacion_1 {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    .paseo_space{
        justify-content: center;
        align-items: center;
    }

    .paseo_img,
    .paseo_info {
        width: 400px;
        height: 185px;
    }

    img.cocker_talado {
        width: 255px;
        height: 204px; */
        /* margin-top: 27px; */
    /* }
}


@media (min-width: 768px) {
    
    .container {
        width: calc(768px - 30px);
        margin: auto 20px;
        margin:  auto 20px;
     }

     section.who-im {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: baseline;
    }
    .who {
        text-align: center;
        margin-top: -100px;
    }
    .informacion_1 {
        flex-direction: column;
    }

    .grupo_perros {
        display: flex;
    }
    .informacion_2 {
        flex-direction: column;
    }

    img.caninos_montana {
        width: 343px;
        height: 274px;
        object-position: 0px -101px;
        object-fit: cover;
        margin: -22px 0px 5px 1px;
    }

    img.cocker_talado {
        margin: -21px -12px;
        width: 258px;
        height: 273px;
        object-fit: cover;
        object-position: -28px 0px;
    }

} */

body {
    padding: 0;
    box-sizing: border-box;
    font-size:1rem;
    
}

/* /* background-size: 50vw;
    opacity: 0.6;
   
    
    /* color: #20303c; */  
    /* font-family: Madefor, Helvetica Neue, Helvetica, Arial, メイリオ, meiryo, ヒラギノ角ゴ pro w3, hiragino kaku gothic pro, sans-serif; */
    /* font-size: 16px;
    font-weight: 400; */
    /* height: 100%; */
    /* line-height: 1.5; */
    /* margin: 0;
    padding: 0;
    width: 100%;
*/
/* body { 
    background-color: #f9fafa;
    background-image: url(../images/background2.png); 
    background-position: center;
    background-repeat: repeat-y;
    background-size: 40vw 100vh;
    background-position-y: center;
    
    } */
/* .who-im {
       
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
} */

/* .who {
   text-align: center;
   margin-left: 100px;
   margin-right: 50px;
} */

/* .caninos-montaña {
    width: 400px;
    height: 400px;
    object-fit: cover;
    padding-left: 100px;
    margin: 50px 150px 50px 60px;
} */

/* .info_trascendencia { 
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    align-items: center;
    
} */

/* .trascendencia { 
    text-align: center;
    margin-right: 100px;
}

.cocker_talado{
    width: 500px;
    height: 500px;
    object-fit: contain;
    
} */

/* @media screen and (min-width: 567px) {
    .container{
        width: calc(567px - 20px);
    }
    
    .container {
        display: flex;  
        flex-direction: column;
        text-align: left;
    
    }

    .who-im {
        flex-direction: column;
    }

    .info_trascendencia{
        flex-direction: column;
    }
} */
/* .container {
    margin: 20px;
} */

.informacion_1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.who {
    text-align: center;
}

.caninos_montana{
        width: 255px;
        height: 255px;
        object-fit: cover;
        object-position: -1px -77px;
    
}

.informacion_2 {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
    
}

.trascendencia{
    text-align: center;
}

.cocker_talado {
    width: 261px;
    height: 198px;
    object-fit: contain;
}

.title{
    font-family: "Amatic SC", sans-serif;
    font-size: 30px;
    font-style: italic;
    font-weight: unset;
    text-align: center;
    
}

.paragraph {
    font-size: 15px;
    font-family: "Amatic SC", sans-serif;
    text-align: justify;
    
}

/* 

 */
 
@media  (min-width: 567px){
    .container{
        /* width: calc(567px - 30px); */
        margin:  auto 20px;
    }

    .informacion_1 {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }

    img.caninos_montana {
        margin-top: 26px;
        width: 244px;
        height: 235px;
    }

    .informacion_2 {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
    }

    img.cocker_talado {
        width: 255px;
        height: 204px;
        /* margin-top: 27px; */
    }
}


@media (min-width: 768px) {
    
    .container{
        width: calc(768px - 30px);
        margin:  auto 20px;
     }

     section.who-im {
        display: flex;
        flex-direction: row;
        gap: 30px;
        align-items: baseline;
    }

    .informacion_1 {
        flex-direction: column;
    }
    .informacion_2 {
        flex-direction: column;
    }

    img.caninos_montana {
        width: 343px;
        height: 274px;
        object-position: 0px -101px;
        object-fit: cover;
        margin: -22px 0px 5px 1px;
    }

    img.cocker_talado {
        margin: -21px -12px;
        width: 258px;
        height: 273px;
        object-fit: cover;
        object-position: -28px 0px;
    }

}





